Package: ordna
Version: 0.1.0-1
Architecture: all
Maintainer: GG <nn@njb.gg>
Installed-Size: 18
Depends: bash (>= 4.2), exiftool, file, coreutils, findutils, grep, gawk, sed
Section: utils
Priority: optional
Description: Disciplined file sorter
 Small, opinionated tool to sort files by date/extension with move/copy modes.
