#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	CGO_ENABLED=0 go build -trimpath -ldflags "-s -w" -o build/ordna ./cmd/ordna

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
